services/friend-request-base/build
services/friend-request-base/main/proto
services/user-base/build
services/user-base/main/proto
services/message-base/build
services/message-base/main/proto
services/reservation-base/build

# all generated proto files
*.pb.go
*.pb.gw.go
# frontend/src/generated/proto



# todo files
TODO

#vscode
.vscode

.DS_Store

#secrets
# secrets/


#vscode
.prettierrc
